<div class = "current-status">
  <h1>登録情報の変更</h1>
  <%= form_with model: current_user, local: true do |f|%>
    <div class='content'>
        <%= f.label :email%><br />
        <%= f.text_field :email %>
    </div>
    <div class='actions'>
      <%= f.submit "更新する", class: :form__btn %>
    </div>
  <% end %>
</div>